body {
  font-family: helvetica;
  text-align: center;
}
a {
  font-size: 18px;
  color: white;
}
h1 {
  font-size: 70px;
}
h2 {
  font-size: 32px;
}
p {
  font-size: 14px;
}
h1, h2, h3 {
  font-weight: bold;
}
.footer {
  background-color: dimgray;
  font-size: 11px;
  text-align: left;
}
.header {
  background-image: url('../images/background.png');
}
.footer,.header {
  color: white;
}
